.aboutPage{
    display: flex;
    flex-direction: column;
    width: 50%;
    flex: 9;
    margin-top: 140px;
    margin-left: 50px;
}

.aboutBack{
    height: calc(150vh - 50px);
    background:
    url("https://images.unsplash.com/photo-1600172454520-134a542a2255?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2874&q=80");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
}

.aboutTitle{
    font-size: 16px;
    margin-bottom: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: dimgray;
}