.sidebar{
    flex: 6;
    margin: 20px;
    margin-top: 30px;
    padding-bottom: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.sidebarItem{
    display: flex;
    flex-direction: column;
    align-items: left;
}

.sidebarTitle{
    margin: 10px;
    padding: 5px;
    width: 80%;
    font-family: 'Lora', serif;
    font-size: 14px;
    color: #2a9d8f;
    font-weight: 600;
    line-height: 20px;
}

.sidebarItem > p{
    width: 80%;
    margin: 15px;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    text-align: left;
}

.sidebarList{
    list-style-type: none;
    margin-bottom: 30px;
    width: 30%;
}

.sidebarListItem{
    margin-top: 15px;
    margin-left: -15px;
    cursor: pointer;
    color: dimgray;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
}

p{
    color: dimgray;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
}