.dashboard{
    height: calc(100vh - 50px);
    background:
    url("https://images.unsplash.com/photo-1536240625773-5d810709f034?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2940&q=80");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
}

.dashboardWrapper{
    flex: 9;
    margin-top: 100px;
}

.dashboardForm{
    width: 70%;
    color: dimgray;
    margin-left: 75px;
    margin-top: 50px;
    font-weight: 300;
}

.dashboardTitle{
    display: flex;
    align-items: center;
    margin-left: 75px;
    margin-top: 15px;
}

.dashboardUpdateTitle{
    font-size: 1.2vw;
    margin-bottom: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    cursor: pointer;
    color: dimgray;
}

.dashboardDeleteTitle{
    font-size: 1.2vw;
    margin-bottom: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    cursor: pointer;
    color: dimgray;
}
